<!--Content-->
  <div class="content">

    <!--PREMIUM-->
    <div class="section section-2">
      <div class="tag">ARTICLES</div>
      <div class="flex-class">
<!--SLIDER-->
        <div class="carousel" data-flickity='{ "groupCells": true, "autoPlay": true }'>
           <!--SLIDER ITEM-->
            <div class="premium-carousel-cell">
              <!--PREMIUM IMG-->
              <img src="https://1.bp.blogspot.com/-Oz3xuLM0Z7E/YVMddmzwz3I/AAAAAAAAAek/VLZ_6tBrVjIgbw8FXcc44a31Lz81kfVswCLcBGAsYHQ/s400/VG%2BLOGO.png" alt="Viral Gamer Glory Cup">
              <!--END PREMIUM IMG-->
              <!--PREMIUM TITLE-->
              <div class="P-list-item-title">Viral Gamer Glory Cup: All You Need To Know</div>
              <!--END PREMIUM TITLE-->
              <!--PREMIUM DESCRIPTION-->
              <div class="P-list-item-desc">Viral Gamer Glory Cup is presented by Viral Gamer In partnership with Krafton and powered by Esports Collective</div>
              <!--END PREMIUM DESCRIPTION-->
              <!--PREMIUM BUTTON (link)-->
              <button class="P-list-item-btn" onclick="location.href='https://kutt.it/viralgamerglorycup'">
               READ NOW!!
              </button>
              <!--END PREMIUM BUTTON-->
            </div>
            <!--END SLIDER ITEM-->
</div>
        <!--END SLIDER-->
      </div>  
    </div>
    <!--END PREMIUM-->
  <!--promortinal-->